<nav class="flex justify-between items-center bg-[#131226] text-white px-96 py-5 text-sm sticky top-0">
    <div class="flex items-center">
        <%= image_tag("ccccc.png", width: 30, class: "object-fit rounded-full") %>
        <h1 class="ml-3 font-bold">Chores and Coins</h1>
    </div>
    <ul class="flex gap-7">
        <li><%= link_to "Dashboard", root_path %></li>
        <li><%= link_to "Activities", admin_activities_path %></li>
        <li><%= link_to "Sons", admin_sons_path %></li>
        <% if user_signed_in? %>
            <li><%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></li>
        <% end %>
    </ul>
</nav>
