<div>
  <%= form_with model: [:admin, @activity] do |form| %>
    <div class="mb-5">
      <%= form.label :name %><br>
      <%= form.text_field :name, class: "w-1/3 rounded " %>
      <% if error_classes(@activity.errors.full_messages_for("name")) %>
        <div class="text-red-700 text-xs">
          <span><%= @activity.errors.full_messages_for("name")[0] %></span>
        </div>
      <% end %>
    </div>

    <div class="mb-5">
      <%= form.label :description %>
      <%= form.text_area :description, class: "w-full h-40 rounded" %>
      <% if error_classes(@activity.errors.full_messages_for("description")) %>
        <div class="text-red-700 text-xs">
          <span><%= @activity.errors.full_messages_for("description")[0] %></span>
        </div>
      <% end %>
    </div>

    <div class="mb-5">
      <%= form.label :level %>
      <%= form.text_field :level, class: "w-full rounded" %>
      <% if error_classes(@activity.errors.full_messages_for("level")) %>
        <div class="text-red-700 text-xs">
          <span><%= @activity.errors.full_messages_for("level")[0] %></span>
        </div>
      <% end %>
    </div>

    <%= form.submit "Save", class: "bg-[#4237CA] hover:bg-[#0004ff] cursor-pointer text-white font-bold py-2 w-40 text-center px-4 mt-10 rounded" %>
  <% end %>
</div>