<div data-controller="show-activities" class="bg-white px-96">
  <div class="flex flex-col py-20 mt-20">
    <h1 class="text-3xl font-bold"><%= @activity.name %></h1>

    <div class="flex mt-3">
      <p class="text-1xl font-bold">Description:</p>
      <p class="mx-2"><%= @activity.description %></p>
    </div>

    <% if @activity.user %>
      <div class="flex mt-3">
        <p class="text-1xl font-bold">Assigned to:</p>
        <p class="mx-2"><%= @activity.user.email %></p>
      </div>
    <% end %>

    <% if @activity.completed %>
      <div class="flex mt-5">
        <p class="text-1xl font-bold">Completed at: </p>
        <p class="mx-2"><%= @activity.completed %></p>
      </div>
    <% end %>

    <div class="flex">
      <p class="text-1xl font-bold">Level: </p>
      <p class="mx-2"><%= @activity.level %></p>
    </div>

    <div class="flex justify-end gap-3">
      <button class="bg-[#131226] rounded text-white px-5 py-2", data-action="click->show-activities#openModal">Assign Task</button>
      <%= link_to "Edit", edit_admin_activity_path(@activity), class: "bg-blue-700 rounded text-white px-5 py-2" %>
      <%= link_to "Destroy", admin_activity_path(@activity), class: "bg-red-700 rounded text-white px-5 py-2", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </div>
  </div>

  <div class="relative z-10 hidden" data-show-activities-target="assignTask" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <%= form_with url: admin_assign_task_path(@activity.id), method: :get do |form| %>
      <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
          <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
              <div class="sm:flex sm:items-start">
                <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-blue-100 sm:mx-0 sm:h-10 sm:w-10">
                  <svg class="h-6 w-6 text-blue-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                  </svg>
                </div>
                <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                  <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Assign Task to my son</h3>
                  <select name="user_id_to_assign" class="block mt-2 w-full rounded-md bg-white border border-gray-300 pl-2 pr-10 py-2 text-sm leading-5 font-medium text-gray-700 hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                    <% @users.each do |user| %>
                      <option value="<%= user.id %>"><%= user.email %></option>
                    <% end %>
                  </select>
                </div>
              </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 flex justify-end gap-2 sm:px-6">
              <%= form.submit "Assign user", class: "mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto" %>
              <button type="button" data-action="click->show-activities#closeModal" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
