<div class="flex">
    <div class="w-1/3 max-w-xl border-r-2 h-screen bg-slate-100 flex flex-col gap-3 text-3xl items-center justify-center py-5 px-5">
        <h1 class="font-extrabold">Your Income for this month is: </h1>
        <span class="font-extrabold text-emerald-400">$<%= current_user.activities %></span>
    </div>
    <div class="w-full">
        <div class="flex justify-between items-center py-5 px-20 bg-[#F8F9FC]">
            <h1 class="text-1xl">Activities</h1>
            <a class="bg-[#4337CA] hover:bg-blue-700 text-white text-sm font-Roboto py-2 px-10 rounded" href="activities/new">
                New Activity
            </a>
        </div>
        <div class="flex pb-10 pt-10 px-20 gap-3 border-b-2 text-sm">
            <% @activities.each do |activity| %>
                <%= link_to activity_path(activity.id), class: "bg-[#4237CA] h-28 rounded-lg overflow-hidden w-48 rounded-lg hover:bg-[#6860db] cursor-pointer" do %>
                    <div class="flex justify-center items-center h-full">
                        <h2 class="text-white font-bold"><%= activity.name %></h2>
                    </div>
                <% end %>
            <% end %>
        </div>

        <section class="px-20 bg-[#F8F9FC] py-10 flex flex-col">
            <div class="flex items-center justify-between mb-10">
                <h1 class="text-sm font-medium">Pending Activities</h1>
                <input type="text" placeholder="Search" class="rounded h-10 w-80">
            </div>

            <% @activities.each do |activity| %>
                <div class="flex pr-10 text-xs bg-white border h-24 overflow-hidden w-full rounded-lg mb-5">
                    <div class="w-10 <%= activity_status(activity) %>"></div>
                    <div class="flex flex-col justify-center ml-3">
                        <h2 class="font-bold"><%= activity.name %></h2>
                        <p class="text-gray-400 mt-1">Level: <%= activity.level %></p>
                        <p class="text-gray-500 mt-1">Status: <%= activity.status %></p>
                    </div>
                </div>
            <% end %>
        </section>
    </div>
</div>
