
<div class="flex-col">
    <%= render "dashboard/navbar" %>

    <h1 class="text-3xl font-bold my-5">New Activity</h1>

    <%= form_with model: @activity do |form| %>
    <div>
        <%= form.label :name %><br>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :description %><br>
        <%= form.text_area :desription %>
    </div>

    <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        <%= form.submit %>
    </div>
    <% end %>
</div>